<nav class="top-nav">
    <div class="nav-left">
        <h1 class="brand-name">SupportCosmos</h1>
    </div>

    <div class="nav-right">
        <NavLink href="/" class="nav-btn" Match="NavLinkMatch.All" style="text-decoration: none !important; color: #1e1e1e !important;">
            <i class="bi bi-house-door"></i> Forside
        </NavLink>
        <NavLink href="/create-support" class="nav-btn"  style="text-decoration: none !important; color: #1e1e1e !important;">
            <i class="bi bi-plus-circle"></i> Opret Support
        </NavLink>
        <NavLink href="/support-list" class="nav-btn"  style="text-decoration: none !important; color: #1e1e1e !important;">
            <i class="bi bi-list-ul"></i> Support Oversigt
        </NavLink>
    </div>
</nav>